 .u-section-1 {
  background-image: linear-gradient(white, #f9e79b);
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 315px;
  height: 472px;
  margin: 25px auto 0 25px;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  margin: -472px 25px 0 365px;
}

.u-section-1 .u-form-1 {
  height: 358px;
  margin: 25px 25px 60px 365px;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

.u-section-1 .u-form-group-4 {
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-form-1 {
    height: 328px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 360px;
  }

  .u-section-1 .u-form-1 {
    width: 670px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1209px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 26px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 25px;
    margin-left: 25px;
  }

  .u-section-1 .u-form-1 {
    width: 490px;
    margin-bottom: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}