 .u-section-1 {
  background-image: linear-gradient(white, #f9e79b);
}

.u-section-1 .u-sheet-1 {
  min-height: 538px;
}

.u-section-1 .u-image-1 {
  width: 315px;
  height: 472px;
  margin: 25px auto 0 25px;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  margin: -472px 25px 60px 365px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  text-decoration: underline !important;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 806px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 962px;
  }

  .u-section-1 .u-image-1 {
    width: 192px;
    height: 287px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -287px;
    margin-left: 231px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 14px;
    margin-left: 28px;
    margin-right: 28px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}