.u-section-1 .u-sheet-1 {
  min-height: 68px;
}

.u-section-1 .u-text-1 {
  margin: 13px auto;
} .u-section-2 {
  background-image: linear-gradient(white, #f9e79b);
}

.u-section-2 .u-sheet-1 {
  min-height: 2690px;
}

.u-section-2 .u-gallery-1 {
  height: 2639px;
  width: 1364px;
  margin: 21px -112px 30px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 23px 23px;
}

.u-section-2 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-5 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-5 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-6 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-6 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-7 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-7 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-8 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-8 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-9 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-9 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-10 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-10 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-11 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-11 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-12 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-12 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-13 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-13 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-14 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-14 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-15 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-15 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-16 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-16 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-17 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-17 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-18 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-18 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-19 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-19 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-20 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-20 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-21 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-21 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-22 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-22 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-23 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-23 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-24 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-24 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-25 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-25 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-26 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-26 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-27 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-27 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-28 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-28 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-29 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-29 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-30 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-30 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-31 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-31 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-32 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-32 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-33 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-33 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-34 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-34 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-35 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-35 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-36 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-36 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-37 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-37 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-38 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-38 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-39 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-39 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-40 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-40 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-41 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-41 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-42 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-42 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-43 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-43 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-44 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-44 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-45 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-45 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-46 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-46 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1163px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1819px;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(5, auto);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1855px;
  }

  .u-section-2 .u-gallery-1 {
    height: 3715px;
    width: 720px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 5363px;
  }

  .u-section-2 .u-gallery-1 {
    height: 6008px;
    width: 540px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3414px;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 116px;
    margin-bottom: 53px;
    height: 15131px;
    width: 340px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}