@font-face {
   font-family: 'Midtown-Groveed-Regular';
   font-display: swap;
   src: url('file:///C:/Users/hayden/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-02-23_175815/fonts/Midtown-Groveed-Regular/font.ttf');
}
